$primary-light: #83948E;

$primary-dark: #43504B;

$secondary-color: #E3D9C6;

$color-blur: #C2936C;

$btn-light: #C2926A;

$btn-dark: #83948E;

$font-color-normal: #FFF;

$font-color-dark: #181818;

$shadow: 0 4px 10px rgba(0,0,0,0.5)